<%- include("header") -%>

<h2 class="about">I am Nasir.</h2>
<div class="row">
  <div class="col-lg-3">
    <img src="/images/2__E6A3538.jpg" alt="" class="myImage">
  </div>
  <div class="col-lg-9">
    <p class="about-myself">I am a full stack web developer, Node.js(express) and React, and also a web 3 developer, I know Solidity, and Motoko(the language for internet computer protocol). I am also an Artificial intelligence specialist who can solve computer vision and NLP tasks.

      My university education is about robotics and Mechatronics, I worked for 2 years at Behyaar company as an FPGA and LabVIEW programmer. after that, I started a startup about AI in financial markets but after 3 years I decided to change my carrier. 
      
      I'm very interested in the web(3), AI, and the Internet of robotic things.</p>
      <p class="about-myself">Email : bkaranehai@gmail.com</p>
      <p class="about-myself">Linkedin : https://www.linkedin.com/in/nasir-daneshiar-71013268/</p>
  </div>
</div>

  



</div>





<%- include("footer") -%>